html {
  margin: 0px;
  height: 100%;
  width: 100%;
}
body {
  background: rgb(5, 45, 45);
  background: linear-gradient(
    0deg,
    #1c0b73 11%, #026ab5 100%
  );
  margin: 0px;
  min-height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media screen and (max-width: 600px){
  .contenedor{
    height: 100%;
      width: 100%;;
  }}
