.App {
  margin: auto;
  padding-top: 36px;
  text-align: center;
}
.App h1 {
  padding-top: 5px;
  margin: auto;
  height: 50px;
  width: 500px;
  border-radius: 300px;
  background-color: rgb(26, 70, 70);
  color: rgb(159, 216, 223);
  text-align: center;
}
.SearchForm-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
}
.Movie {
  color: aliceblue;
}
.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}
.MovieList-item {
  margin-bottom: 24px;
  width: 40%;
}
.Detail {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
.media-content p {
  color: whitesmoke;
}
.card :hover {
  background-color: rgb(1, 129, 125);
  opacity: 1;
  color: black;
  filter: brightness();
}
.small {
  color: aliceblue;
}
