.App {
  margin: auto;
  padding-top: 36px;
  text-align: center;
}
.App h1 {
  padding-top: 5px;
  margin: auto;
  height: 50px;
  width: 500px;
  border-radius: 300px;
  background-color: rgb(26, 70, 70);
  color: rgb(159, 216, 223);
  text-align: center;
}
.SearchForm-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
}
.Movie {
  color: aliceblue;
}
.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}
.MovieList-item {
  margin-bottom: 24px;
  width: 40%;
}
.Detail button {
  border-radius: 30px;
  justify-content: center;
  margin: auto;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  color: rgb(207, 239, 240);
  background-color: rgb(46, 43, 43);
}
.Detail button:hover {
opacity: 0.8;
filter: alpha(opacity=80);} 

.Detail {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
.Details h1 {
  color: rgb(0, 9, 17);
  font-style:unset ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-top-left-radius: 30px ;
  border-top-right-radius: 30px;
  font-size:190%;
  background-color:rgb(50, 102, 102);
  width: 21.5%;
  margin: auto;
}
.Details p {
  width: 50%;
margin: auto;
}
.media-content p {
  color: whitesmoke;
}
.card :hover {
  background-color: rgb(1, 129, 125);
  opacity: 0.9;
  color: black;
  filter: brightness();
}
.small {
  color: aliceblue;
}
