html {
  margin: 0px;
  height: 100%;
  width: 100%;
}
body {
  background: rgb(5, 45, 45);
  background: linear-gradient(
    0deg,
    rgba(5, 45, 45, 1) 11%,
    rgba(134, 196, 196, 1) 100%
  );
  margin: 0px;
  min-height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
